<footer>
	<div>
		Get in touch: <a href="mailto:records@xray.fm" class="color">records@xray.fm</a>
	</div>
	<div id="links-container">
		<a href="https://facebook.com/xrayrecs" target="_blank"><img src="{{ 'assets/images/facebook-icon.png' | absolute_url }}"/></a>
		<a href="https://twitter.com/xray_recs" target="_blank"><img src="{{ 'assets/images/twitter-icon.png' | absolute_url }}"/></a>
		<a href="https://www.instagram.com/xrayrecs/" target="_blank"><img src="{{ 'assets/images/instagram-icon.png' | absolute_url }}"/></a>
		<a href="http://xrayrecords.bandcamp.com/" target="_blank"><img src="{{ 'assets/images/bandcamp-icon.png' | absolute_url }}"/></a>
	</div>
	<div>
		&copy; XRAY Records <script>document.write(new Date().getFullYear())</script>
	</div>
</footer>
