// /**
//  * Site header
//  */
// .site-header {
//   border-top: 5px solid $grey-color-dark;
//   border-bottom: 1px solid $grey-color-light;
//   min-height: $spacing-unit * 1.865;

//   // Positioning context for the mobile navigation icon
//   position: relative;
// }

// .site-title {
//   @include relative-font-size(1.625);
//   font-weight: 300;
//   line-height: $base-line-height * $base-font-size * 2.25;
//   letter-spacing: -1px;
//   margin-bottom: 0;
//   float: left;

//   &,
//   &:visited {
//     color: $grey-color-dark;
//   }
// }

// .site-nav {
//   float: right;
//   line-height: $base-line-height * $base-font-size * 2.25;

//   .nav-trigger {
//       display: none;
//   }

//   .menu-icon {
//     display: none;
//   }

//   .page-link {
//     color: $text-color;
//     line-height: $base-line-height;

//     // Gaps between nav items, but not on the last one
//     &:not(:last-child) {
//       margin-right: 20px;
//     }
//   }

//   @include media-query($on-palm) {
//     position: absolute;
//     top: 9px;
//     right: $spacing-unit / 2;
//     background-color: $background-color;
//     border: 1px solid $grey-color-light;
//     border-radius: 5px;
//     text-align: right;

//     label[for="nav-trigger"] {
//       display: block;
//       float: right;
//       width: 36px;
//       height: 36px;
//       z-index: 2;
//       cursor: pointer;
//     }

//     .menu-icon {
//       display: block;
//       float: right;
//       width: 36px;
//       height: 26px;
//       line-height: 0;
//       padding-top: 10px;
//       text-align: center;

//       > svg {
//         fill: $grey-color-dark;
//       }
//     }

//     input ~ .trigger {
//       clear: both;
//       display: none;
//     }

//     input:checked ~ .trigger {
//       display: block;
//       padding-bottom: 5px;
//     }

//     .page-link {
//       display: block;
//       padding: 5px 10px;

//       &:not(:last-child) {
//         margin-right: 0;
//       }
//       margin-left: 20px;
//     }
//   }
// }

// /**
//  * Site footer
//  */
// .site-footer {
//   border-top: 1px solid $grey-color-light;
//   padding: $spacing-unit 0;
// }

// .footer-heading {
//   @include relative-font-size(1.125);
//   margin-bottom: $spacing-unit / 2;
// }

// .contact-list,
// .social-media-list {
//   list-style: none;
//   margin-left: 0;
// }

// .footer-col-wrapper {
//   @include relative-font-size(0.9375);
//   color: $grey-color;
//   margin-left: -$spacing-unit / 2;
//   @extend %clearfix;
// }

// .footer-col {
//   float: left;
//   margin-bottom: $spacing-unit / 2;
//   padding-left: $spacing-unit / 2;
// }

// .footer-col-1 {
//   width: -webkit-calc(35% - (#{$spacing-unit} / 2));
//   width:         calc(35% - (#{$spacing-unit} / 2));
// }

// .footer-col-2 {
//   width: -webkit-calc(20% - (#{$spacing-unit} / 2));
//   width:         calc(20% - (#{$spacing-unit} / 2));
// }

// .footer-col-3 {
//   width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//   width:         calc(45% - (#{$spacing-unit} / 2));
// }

// @include media-query($on-laptop) {
//   .footer-col-1,
//   .footer-col-2 {
//     width: -webkit-calc(50% - (#{$spacing-unit} / 2));
//     width:         calc(50% - (#{$spacing-unit} / 2));
//   }

//   .footer-col-3 {
//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//     width:         calc(100% - (#{$spacing-unit} / 2));
//   }
// }

// @include media-query($on-palm) {
//   .footer-col {
//     float: none;
//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//     width:         calc(100% - (#{$spacing-unit} / 2));
//   }
// }

// /**
//  * Page content
//  */
// .page-content {
//   padding: $spacing-unit 0;
//   flex: 1;
// }

// .page-heading {
//   @include relative-font-size(2);
// }

// .post-list-heading {
//   @include relative-font-size(1.75);
// }

// .post-list {
//   margin-left: 0;
//   list-style: none;

//   > li {
//     margin-bottom: $spacing-unit;
//   }
// }

// .post-meta {
//   font-size: $small-font-size;
//   color: $grey-color;
// }

// .post-link {
//   display: block;
//   @include relative-font-size(1.5);
// }

// /**
//  * Posts
//  */
// .post-header {
//   margin-bottom: $spacing-unit;
// }

// .post-title {
//   @include relative-font-size(2.625);
//   letter-spacing: -1px;
//   line-height: 1;

//   @include media-query($on-laptop) {
//     @include relative-font-size(2.25);
//   }
// }

// .post-content {
//   margin-bottom: $spacing-unit;

//   h2 {
//     @include relative-font-size(2);

//     @include media-query($on-laptop) {
//       @include relative-font-size(1.75);
//     }
//   }

//   h3 {
//     @include relative-font-size(1.625);

//     @include media-query($on-laptop) {
//       @include relative-font-size(1.375);
//     }
//   }

//   h4 {
//     @include relative-font-size(1.25);

//     @include media-query($on-laptop) {
//       @include relative-font-size(1.125);
//     }
//   }
// }

#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	z-index: 1;
	#enter {
		width: 96%;
		max-width: 200px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		img {
			width: 100%;
		}
		#enter-button {
			padding-top: 1em;
			position: relative;
			text-align: center;
			font-size: 1.5em;
			color: white;
			display: block;
			width: auto;
			margin: auto;
			span {
				border: solid 2px white;
				padding: 8px 16px;
				cursor: pointer;
			}
		}
	}
}

#grid {
	display: block;
	position: relative;
	.artist-box {
		padding: 0 0.5em;
		width: 33.33%;
		float: left;
		position: relative;
		margin-bottom: 1em;
		vertical-align: top;
		transition: all 0.25s;
	}
	.aspect-ratio {
		padding-top: 100%;
		width: 100%;
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 6px;
	}
	.hover-info {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.7);
		transition: all 0.25s;
		opacity: 0;
	}
	.aspect-ratio:hover .hover-info {
		opacity: 1;
	}
	.hover-content {
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	.hover-content li {
		padding: 4px;
		margin: 4px;
		cursor: pointer;
		font-size: 1em;
		color: white !important;
	}
	.hover-content li a {
		text-decoration: none;
	}
}

#nav {
	width: 100%;
	background: #333;
	padding: 16px 16px;
	ul {
		position: relative;
		max-width: calc(1000px - (30px * 2));
		display: block;
		margin: auto;
		li {
			position: relative;
			vertical-align: middle;
			font-weight: lighter;
			margin-right: 1em;
			color: #9d9d9d;
			list-style: none;
			display: inline;
			&:hover {
				color: white;
			}
			span {
				font-size: 0.5em;
				vertical-align: middle;
			}
			ul {
				display: none;
				padding: 10px;
				position: absolute;
				top: 1.5em;
				left: 0;
				background: #333;
				z-index: 10;
				min-width: 200px;
				li {
					display: block;
					color: #9d9d9d;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}

#greeting {
	margin: 3em 0;
	img {
		display: block;
		max-width: 400px;
		margin: auto;
	}
	div {
		text-align: center;
		margin: 2em 0;
		a {
			color: $brand-color;
			&:hover {
				color: darken($brand-color, 15%);
			}
		}
	}
}

footer {
	position: relative;
	display: block;
	margin-bottom: 1em;
	width: 100%;
	border-top: solid 1px lightgray;
	padding: 2em 0;
	text-align: center;
	#links-container {
		margin: 1em 0;
		img {
			width: 40px;
			margin: 0 6px;
			opacity: 0.75;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.artist-container,
.page-container {
	margin: 2em 0;
	.content {
		margin: 2em 0;
		hr {
			border: solid 1px lightgray;
			margin: 3em 0;
		}
		a.color {
			color: $brand-color;
			&:hover {
				color: darken($brand-color, 15%);
			}
		}
		.artist-item {
			a {
				display: block;
				cursor: pointer;
				color: $brand-color;
				&.item {
					margin-bottom: 3em;
					color: #333;
					&:hover {
						color: inherit;
					}
				}
				&:hover {
					color: darken($brand-color, 15%);
				}
			}
			h2 {
				text-align: center;
			}
		}
	}
}

.page-container .content a {
	color: $brand-color;
	&:hover {
		color: darken($brand-color, 15%);
	}
}

.center {
	text-align: center;
}
