---
layout: site
---

<div id="greeting">
	<img src="assets/images/logo.png" alt="">
	<div>
		Highlighting the distinct sounds of the Pacific North West.<br>
		XRAY Records is a project of <a href="https://xray.fm" class="color">XRAY.fm</a>
	</div>
</div>

<div id="artist-grid">
	{% assign artists = site.artists | sort:"name" %}
	{% for artist in artists %}
		<div class="artist-box">
			<div class="aspect-ratio" style="background-image: url('{{ artist.image }}')">
				<div class="hover-info">
					<ul class="hover-content">
						<li>
							<a href="artists/{{ artist.link }}">{{ artist.name }}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
